extend layout
block content
  p
    | It's wonderful to have you here! 
    
  p
    | We are just getting started with this, but over the next few days we will be adding more and more information, some FAQs, and try to help everyone to enjoy and celebrate this occasion as much as possible with us.
  //-
    p
      | Donec congue lacinia dui, a porttitor
      | lectus condimentum laoreet. Nunc eu
      | ullamcorper orci. Quisque eget odio ac
      | lectus vestibulum faucibus eget in metus.
      | In pellentesque faucibus vestibulum. Nulla
      | at nulla justo, eget luctus tortor.
  //
block sidebar
  .widget
    img.className#IdName(src="images/home1.jpg" alt="Image Title" style="height:178px;width:178px;")
    //-
      h1 Please come back soon!
      p
        | 
        | eleifend nibh porttitor. Ut in nulla enim.
      p
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula.
    //