doctype
html
  head
    title #{title} - David Anderton & Alice Yang
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 The Wedding of David Anderton & Alice Yang
      a(href='/') Home
      |
      a(href='/story') Our Story
      |
      a(href='/travel') Travel
      |
      a(href='/burlington') Things to Do 
      |
      a(href='/faq') FAQ
      |
      a(href='/rsvp') RSVP
      |
      a(href='/registry') Gift Registry
      
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p This site will be frequently updated with FAQs, Location details, and suggested options for travel, accomodation, and food. Stay tuned and come back soon!